@font-face {
    font-family: neucha;
    src: url(fonts/Neucha-Regular.ttf);
}

@font-face {
    font-family: marckScript;
    src: url(fonts/MarckScript-Regular.ttf);
}

h2 {
    font-family: neucha;
    font-size: xx-large;
}

h3 {
    font-family: neucha;
    font-size: x-large;
}

p {
    font-family: marckScript;
    font-size: 25px;
}

a {
    color: black;
}

.inner-text {
    font-family: marckScript;
    font-size: 25px;
    color: black;
}

span.somecode {
    font-family: monospace;
    font-style: normal;
    font-size: .7em;
    color: #aa00aa;
}

li {
    font-family: marckScript;
    font-size: 20px;
    color: #aa00aa;
    background-color: mediumaquamarine;
}
